@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

VICMARO

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2019

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #0b194a;
$secondary_color: #b91223;
$background: #efefef;
$border: #b91223;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	margin: {
		top: 30vh;
		bottom: 20px;
	}
	.b {
		img {
			width: 100%;
		}
	}
}

/* Data */

.data {
	.text-1 {
		margin-bottom: 10px;
		font: {
			size: 20px;
			weight: bold;
		}
		color: $secondary_color;
	}
	.text-2,
	.text-3 {
		font: {
			size: 20px;
			weight: bold;
		}
		i {
			font-size: 6px;
		}
	}
	.text-4 {
		margin-top: 10px;
		padding-top: 5px;
		border-top: 2px solid $secondary_color;
		font-size: 24px;
		letter-spacing: 1px;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		margin: {
			top: 20px;
			bottom: 20px;
		}
		.b {
			margin-bottom: 20px;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}